/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Force Light Mode variables */
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: block; /* Removes Vite's default flex centering */
  min-width: 320px;
  min-height: 100vh;
}